<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="blue-grey lighten-5">

    <nav class="blue-grey darken-3">
        <div class="nav-wrapper">
            <span class="brand-logo white-text">Waitstaff Calculator</span>
        </div>
    </nav>

    <div class="container" ng-controller="WaitCalcCtrl">
        <div class="row">
            <div class="col m7">
                <div meal-form class="card-panel white blue-grey-text" ng-cloak>                    
                </div>
                <div>
                    <div class="blue-grey-text content-panel" ng-if="transaction_history.length" ng-cloak>
                        <h4>Last 3 Transactions </h4>
                        <div ng-if="transaction_history.length > 3" ng-cloak>
                            <button ng-hide="show_all" class="btn white pink-text" type="button" ng-click="show_all_transactions(true)" ng-cloak>See All</button>
                            <button ng-show="show_all" class="btn white pink-text" type="button" ng-click="show_all_transactions(false)" ng-cloak>See Less</button>
                        </div>
                        <div ng-repeat="charge in transaction_history | transaction:show_all:3" ng-cloak>
                            <div data-charge-toast></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m5 content-panel" ng-if="transaction_history.length" ng-cloak>
                <div data-customer-charge></div>
                <div data-staff-earnings></div>
                <div>
                    <button class="btn blue-grey darken-3 white-text" type="button" ng-click="reset_all()">Reset App</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="filters.js" type="text/javascript"></script>
    <script src="directives.js" type="text/javascript"></script>    
    <script src="services.js" type="text/javascript"></script>
    <script src="controllers.js" type="text/javascript"></script>
</body>

</html>
