nav {
	height: 100px !important;
}

.nav-wrapper {
	padding: 20px;
}

.brand-logo {	
	font-size: 4.1rem !important;
}

.container {
	margin-top: 35px !important;
}

input[type="text"]:focus:not([readonly]), 
input[type="password"]:focus:not([readonly]), 
input[type="email"]:focus:not([readonly]), 
input[type="url"]:focus:not([readonly]), 
input[type="time"]:focus:not([readonly]), 
input[type="date"]:focus:not([readonly]), 
input[type="datetime-local"]:focus:not([readonly]), 
input[type="tel"]:focus:not([readonly]), 
input[type="number"]:focus:not([readonly]), 
input[type="search"]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #37474F !important;
    box-shadow: 0px 1px 0px 0px #37474F !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.content-panel {  
  overflow: hidden !important;
  transition: all linear .15s;
}

.content-panel.ng-enter,
.btn.ng-enter,
.btn.ng-leave.ng-leave-active {
  opacity: 0;
}

.content-panel.ng-leave,
.btn.ng-leave,
.btn.ng-enter.ng-enter-active {
  opacity: 1;
}

body {
    background-color: #93775F;
    background-blend-mode: multiply;
    background-size: cover;
}

nav {
  background-color: rgba(255, 255, 255, 0.45);
}

.card-panel {
  opacity: .925;
}

.main-content {
  margin-top: 50px;
}
