<h4 class="mint-text">Meal Details</h4>
<form name="chargeForm" ng-submit="submit(chargeForm)" novalidate>
    <div class="input-field">
        <input type="number" name="sub_total" ng-model="charge.sub_total" placeholder="Meal Price, e.g. $ 45.85"
        required>
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.sub_total.$error.required" ng-cloak>
        A Meal Price is required!
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.sub_total.$error.number" ng-cloak>
        Need a number!!
    </div>
    <div class="input-field">
        <input type="number" name="tax_rate" ng-model="charge.tax_rate" placeholder="Tax Rate, e.g. 8 %"
        required>
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.tax_rate.$error.required" ng-cloak>
        A Tax Rate is required!
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.tax_rate.$error.number" ng-cloak>
        Need a number!!
    </div>
    <div class="input-field">
        <input type="number" name="tip_percentage" ng-model="charge.tip_percentage" placeholder="Tip Percentage, e.g. 20 %"
        required>
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.tip_percentage.$error.required" ng-cloak>
        A Tip Percentage is required!
    </div>
    <div class="error" ng-if="!fresh_state && chargeForm.tip_percentage.$error.number" ng-cloak>
        Need a number!!
    </div>
    <div>
        <button class="btn mint white-text" type="submit">Submit</button>
        <button class="btn white mint-text" type="button" ng-click="reset_charge()">Cancel</button>
    </div>
</form>